################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter 6 Drawing in Direct3D/Triangle/Debug
/Chapter 6 Drawing in Direct3D/Triangle/.vs/Triangle/v15/Browse.VC.opendb
